.dashboard{
    position: relative;
    width: 100%;
    background: getColors(primary);
    padding: 0 2rem;
    width: 100vw;
    svg{
        border-radius: 100%;
        width: 15rem;
        height: 15rem;
        background: getColors(secondary);;
        opacity: .6;
        transition: 150ms linear;
    }
    .fa-spin{
        font-size: 3rem;
    }
    &__logout{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        margin-top: 1rem;
        margin-left: 0rem;
        margin-right: auto;
        cursor: pointer;
        transition: 150ms linear;
        
        @media(hover:hover){
            &:hover{
                color: getColors(darker-light);
            }
        }
    }
    &-wrapper{
        @include setFlex(column, center, center);

        position: relative;
        color: getColors(dark);
        h1{
            font-family: $sub;
            letter-spacing: 2px;
            margin: 3rem;
        }
    }
    &__buttons{
        @include setFlex(row, center, center);
        width: 80%;
        height: 100%;
        
        button{
            position: absolute;
            text-transform: uppercase;
            letter-spacing: 2px;
            outline: none;
            border: none;
            background: transparent;
            min-width: 8rem;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            color: getColors(dark);
           
        }

        &-room,
        &-profile{
            position: relative;
            margin: 1rem;
            height: 100%;

            @media(hover:hover){
                &:hover svg{ 
                    background: getColors(secondary-dark);
                }
            }
           
        }
    }
}
@import './dashboardResponsive';