.dashboard{
    position: relative;
    width: 100%;
    background: getColors(primary);
    min-height: 100vh;
    padding: 0 2rem;
    width: 100vw;
    .fa-spin{
        font-size: 3rem;
    }
    &__logout{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        margin-top: 1rem;
        margin-left: 0rem;
        margin-right: auto;
        cursor: pointer;
        transition: 150ms linear;
        
        @media(hover:hover){
            &:hover{
                color: getColors(darker-light);
            }
        }
    }
    &-wrapper{
        @include setFlex(column, center, center);

        position: relative;
        color: getColors(dark);
        h1{
            font-family: $sub;
            letter-spacing: 2px;
            margin: 3rem;
        }
        button{
            text-transform: uppercase;
            letter-spacing: 2px;
            outline: none;
            border: none;
            background: getColors(secondary);
            font-weight: bold;
            width: 100%;
            height: 8.4375rem;
            
            margin-bottom: 2rem;
            transition: 150ms linear;
            @media(hover:hover){
                &:hover{
                    color: white;
                    background: getColors(dark);
                }
            }
        }
    }
    &__buttons{
        width: 80%;
        height: 100%;
        margin-top: 1rem;
    }
}
@import './dashboardResponsive';