.chat-room{
    @include setFlex(column, center, center);
    letter-spacing: 1px;
    height: 75vh;
    max-width: 70rem;
    margin: auto;
    padding: 1rem;

    &__contact-toggle{
        @include setFlex(row, flex-start, center);
        margin-bottom: 1rem;
        color: getColors(dark);
        cursor: pointer;
        transition: 150ms linear;

        .fa-contact{
            font-size: 3rem;
            margin-right: 1rem;
            
        }
        span{
            font-weight: bold;
        }
        
        @media (hover:hover){
            &:hover .fa-contact,
            &:hover span{
                color: getColors(darker-light);
            }
        }
    }

    &-container{
        @include setFlex(row, center, center);
        width: 100%;
        height: 100%;
        margin: 0 2rem;
        box-shadow: $little-shadow;
        border-color: getColors(dark);
    }
    &-wrapper{
        @include setFlex(column, center, center);
        padding-top: 1rem;
        background: getColors(secondary);
        order: 2;
        height: 100%;
        width: 100%;
        flex-grow: 1
    }
    &__body{
        @include setFlex(column, flex-start, center);
        
        background: getColors(secondary);
        overflow-y: auto;
        height: 100%;
        width: 100%;

        .scroll-child{
            padding: .5rem 2rem;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: getColors(dark); 
            border-radius: 10px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: getColors(darker-light); 
        }

        &-status{
            @include setFlex(column, flex-start, center);
            color: getColors(secondary-light);
            text-transform: capitalize;
            text-align: center;
        }
    }
    &__message{
        border-radius: 2rem;
        background: getColors(secondary);
        width: 100%;
        height: auto;
    }
}
@import './chatRoomResponsive';