.login{
    @include setFlex(row, center, center);
    position: relative;
    width: 100vw;
    height: 100vh;
    background: getColors(primary);
    .fa-spin{
        margin: 1rem 0;
        font-size: 2rem;
    }
    &-card{
        @include setFlex(column, center, center);

        position: relative;
        background: getColors(secondary);
        padding: 1rem;
        width: 100%;
        max-width: 26.875rem;
        box-shadow: $little-shadow;
        border-radius: 2rem;
        color: getColors(dark);
        letter-spacing: 2px;
        margin: 1.5rem;

        svg{
            position: absolute;
            right: 0;
        }
        .error{
            text-decoration: none;
            margin-bottom: .3rem;
            color: red;
        }

        h2{
            font-family: $sub;
            margin: 2rem 0;
            letter-spacing: 5px;
        }

        form{
            @include setFlex(column, center, center);
            position: relative;
            width: 100%;
            
            div{
                position: relative;
                display: flex;
                width: 100%;
                background: getColors(secondary-transparent);

                label{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    font-weight: bold;
                    opacity: .4;
                    transition: 150ms all linear;
                }
                &:nth-of-type(1){
                    margin-bottom: 1rem;
                }
    
                input{
                    padding: 0 1rem;
                    padding-bottom:.5rem;
                    margin-bottom: .5rem;
                    padding-top: 1.2rem;
                    outline: none;
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid gray;
                    text-align: center;
                    width: 100%;
                    
                    &:focus,
                    &:valid{
                        border-color: getColors(active);
                        color: getColors(active-light);
    
                        & ~ label{
                            width: 30%;
                            height: 30%;
                            margin-bottom: 1rem;
                            color: getColors(active);
                            opacity: 1;
                            justify-content: flex-start;
                        }
                    }

                    &:-webkit-autofill{
                        transition: background-color 5000s;
                        -webkit-text-fill-color: getColors(dark) !important;
                    }

                }
            }
    
            button{
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding: .3rem 1rem;
                border-radius: 1rem;
                border: none;
                background: getColors(nav-purple);
                color: getColors(dark);
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                outline: none;
                transition: 150ms linear;
                @media(hover:hover){
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        span{
            position: relative;
            text-decoration: underline;
            font-style: italic;
            transition: 150ms linear;
            @media(hover:hover){
                &:hover{
                    color: getColors(darker-light);
                }
            }
        }
    }
}
@import './loginResponsive';

