.navbar{
    position: relative;
    background: getColors(secondary);
    width: 100%;
    cursor: pointer;
    h2{
        font-family: $sub;
        letter-spacing: 2px;
        color: getColors(dark);
        transition: 150ms linear;
        
        @media(hover:hover){
            &:hover{
                color: getColors(darker-light);
            }
        }
    }

    &-wrapper{
        @include setFlex(row, space-between, center);
        position: relative;
        padding: 1.5rem 2rem;
    }

    &__items{
        @include setFlex(row, center, center);
        li{
            background: getColors(dark);
            color: getColors(primary);
            border-radius: 2rem;
            padding: .3rem 1rem;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-weight: bold;
            transition: 150ms linear;
            border: 2px solid;
            border-color: getColors(dark);
            margin: 0 .5rem;

            &.less{
                background: getColors(secondary);
                color: getColors(dark);
            }
            
            @media(hover:hover){
                &:hover{
                    color: getColors(secondary-light);
                }
            }
        }
        &--in{
            display: flex;
        }
    }
  
}
@import './navbarResponsive';