// font size variables
$font-size-s: (
    "h1" : 1.75rem,
    "h2" : 1.25rem,
    "normal-1" : 1rem,  //16px
    "normal-2" : 0.75rem //12px 
);
$font-size-m: (
    "h1" : 2.25rem,
    "h2" : 1.50rem,
    "normal-1" : 1.25rem, //20px
    "normal-2" : 1rem //16px
);
$font-size-l: (
    "h1" : 2.75rem,
    "h2" : 1.75rem,
    "normal-1" :  1.5rem, //24px
    "normal-2" : 1.25rem //20px
);
$font-size-xl: (
    "h1" : 4.375rem,
    "h2" : 2rem,
    "normal-1" : 1.75rem, //28px
    "normal-2" : 1.5rem //24px
);

// max width variables
$max-width: (
    "s": 20rem,
    "m": 40rem,
    "l": 50rem,
    "xl": 95rem,
);

// colors
$colors: (
   'primary': #EEEEEE,
   'secondary': #DCDCDC,
   'secondary-light': #9C9C9C,
   'secondary-transparent': #dcdcdc25,
   'secondary-dark': #d8d2d2,
   'dark' : #484848,
   'darker-light': #808080,
   'online': #19d032,
   'active-fade':#adadad,
   'nav-purple': #9f9af8
);

// custom
$little-shadow: 0px 3px 8px #00000025;
